@model IEnumerable<Message>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>News</b></h1>
</div>



@{
    ViewData["Title"] = "Home";
}

<div class="news-wrapper">
    @foreach (var item in Model)
    {
        <div class="news-item">
            <!-- HEADER s naslovom + datum -->
            <div class="news-header">
                <span class="news-subject">@item.Subject</span>
                <span class="news-date">@item.SentAt.ToString("dd.MM.yyyy")</span>
            </div>

            <!-- BODY s paddingom i shadow -->
            <div class="news-body">
                @item.Body
            </div>
        </div>
    }
</div>
