@model List<Subject>

<h1>Subjects</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_SubjectFilter" model="new SubjectFilterModel()" />
</div>

<div id="results">
	<partial name="_IndexTable" model="Model" />
</div>

@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#searchForm').submit(function (event) {
				event.preventDefault();

				$.ajax({
					url: '@Url.Action("Search", "Subject")',
					type: 'POST',
					data: $(this).serialize(),
					success: function (data) {
						$('#results').html(data);
					},
					error: function (xhr, status, error) {
						alert("An error has occurred while searching.");
					}
				});
			});
		});
	</script>
}